h1, h2, h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    color: rgb(11, 78, 78);
    text-align: center;
    margin: 20px;
    padding: 5px;
    text-decoration: underline;
}
.animacion {
    font-size: 2rem;
    transition: all 2s ease;
}
.animacion:hover{
    transform: scale(1.2 , 1.2);
}
